page-login {

  .login-btn {
     margin-top: 20px;
     margin-bottom: 5px;
     border-radius: 30px !important;
   }

   .register-btn {
     font-size: 0.8em;
   }

   .login-container {
   	display: -webkit-flex;
   	-webkit-flex-direction: column;
   	height: 100%;
   	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
   	background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
   }

   .login-container > .button-row img {
   	max-width: 80%;
   }

   .login-container > .header {
   	-webkit-flex: 4;
   	padding-top: 20px;
   }

   .logo {
   	max-height: 80%;
   	max-width: 80%;
   	width: auto;
   }

}
