<ion-header>
</ion-header>

<ion-content>

  <div *ngIf="!isSearching && !inStreetView()" id="float-button-left-top">
    <button ion-button clear menuToggle>
      <ion-icon id="menu-icon" large name="menu"></ion-icon>
    </button>
  </div>

  <div id="float-button-right-top" *ngIf="!isSearching && !inStreetView()">
    <button ion-button clear id="search-button" (click)="showSearch()">
      <ion-icon name="search"></ion-icon>
    </button>
  </div>


  <div *ngIf="isSearching" class="search">
    <ion-searchbar showCancelButton
                   [(ngModel)]="input"
                   (ionInput)="searchPoints(input)"
                   (ionCancel)="stopSearch($event)"
                   placeholder="Search for a location"></ion-searchbar>

    <ion-scroll class="scrollable" scrollY="true">
      <ion-list>
        <ion-item class="search-item" *ngFor="let location of searchList" (click)="addMarker(location)">
          {{location.name}}
        </ion-item>
      </ion-list>
    </ion-scroll>
  </div>

  <div *ngIf="searchingStart" class="search">
    <ion-searchbar showCancelButton
                   [(ngModel)]="input"
                   (ionInput)="searchPoints(input)"
                   (ionCancel)="searchStop($event)"
                   placeholder="Select starting location"></ion-searchbar>

    <ion-scroll class="scrollable" scrollY="true">
      <ion-list>
        <ion-item class="current-location" *ngIf="latLng" (click)="directFromCurrentLocation()">
          <ion-icon name="locate"></ion-icon>
          Current Location
        </ion-item>
        <ion-item class="search-item" *ngFor="let location of searchList" (click)="directFromLocation(location)">
          {{location.name}}
        </ion-item>
      </ion-list>
    </ion-scroll>
  </div>

  <div id="float-button-left-bottom">
    <button *ngIf="isInfoWindowOpen && !inStreetView()" ion-fab mini (click)="searchStart()">
      <ion-icon [name]="inRoute ? 'hand' :'navigate'"></ion-icon>
    </button>
    <button *ngIf="!isSearching && !isInfoWindowOpen && !inStreetView()" ion-fab mini (click)="changeAllMarkers()">
      <ion-icon [name]="changeIcon ? 'remove' :'add'"></ion-icon>
    </button>
    <button *ngIf="!isSearching && !isInfoWindowOpen && !inStreetView()" ion-fab mini (click)="showCurrLocation()">
      <ion-icon name="locate"></ion-icon>
    </button>
    <button *ngIf="(!isSearching && isInfoWindowOpen) || inStreetView()" ion-fab mini (click)="toggleStreetView()">
      <ion-icon name="eye"></ion-icon>
    </button>
    <button *ngIf="!isSearching && !isInfoWindowOpen && !inStreetView()" ion-fab mini (click)="doFilter()">
      <ion-icon name="funnel"></ion-icon>
    </button>
  </div>

  <div #map id="map"></div>

  <ion-select #filterSelect [(ngModel)]="filter" multiple="false" #C (ionChange)="filterMarker(C.value)" cancelText="Cancel"
              okText="Filter">
    <ion-option *ngFor="let item of typeList" value="{{item}}">{{item}}</ion-option>
  </ion-select>

</ion-content>
