page-map {

  #float-button-left-bottom {
    margin-bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index :5;
  }

  #float-button-left-top {
    margin-top: 7px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    z-index :5;
  }

  #float-button-right-top {
    margin-top: 15px;
    margin-right: 7px;
    position: absolute;
    right: 0;
    z-index :5;
  }

  #menu-icon {
    font-size: 30px;
  }

  #float-button-location {
    margin-top: 7px;
    margin-right: 5px;
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    z-index :5;
  }

  #map {
    height: 100%;
  }

  #geoLoc {
    width: 60%;
  }

  #windowHead {
    color: black;
    font-weight: bold;
    font-size: 130%;
  }

  #addressTitle {
    font-weight: bold;
  }

  #phoneTitle {
    font-weight: bold;
  }

  .ui.fluid.image.info {
    width: 100%;
    height: 50%;
  }
}
