page-map {


  #float-button {
    margin-top: 7px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    z-index :5;
    bottom: 20px;
  }

  #float-button-location {
    margin-top: 7px;
    margin-right: 5px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 80px;
    z-index :5;
  }

#filter-search {
  position: absolute;
  z-index :5;
}

  #map {
    height: 100%;
  }

  #geoLoc {
    width: 60%;
  }

  #windowHead {
    color: black;
    font-weight: bold;
    font-size: 130%;
  }

  #addressTitle {
    font-weight: bold;
  }

  #phoneTitle {
    font-weight: bold;
  }

  .ui.fluid.image.info {
    width: 100%;
    height: 50%;
  }

  .scrollable {
    height: 200px;
  }
}
