page-map {


  #float-button {
    margin-top: 7px;
    margin-right: 5px;
    position: absolute;
    right: 0;
    z-index :5;
  }

  #float-button-location {
    margin-top: 7px;
    margin-right: 5px;
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    z-index :5;
  }

  #map {
    height: 90%;
  }

  #geoLoc {
    width: 60%;
  }

  #windowHead {
    color: black;
    font-weight: bold;
    font-size: 130%;
  }

  #addressTitle {
    font-weight: bold;
  }

  #phoneTitle {
    font-weight: bold;
  }

  .ui.fluid.image.info {
    width: 100%;
    height: 50%;
  }
}
