<ion-header>
</ion-header>

<ion-content>

  <div id="float-button-left-top">
    <button ion-button clear menuToggle><ion-icon id="menu-icon" large name="menu"></ion-icon></button>
  </div>

  <div id="float-button-right-top">
    <button id="clearButton" ion-button full small (click)="changeAllMarkers()">
      Show Points
    </button>
  </div>

  <div id="float-button-left-bottom">
    <button ion-fab mini (click)="toggleStreetView()">
      <ion-icon name="eye"></ion-icon>
    </button>
    <button ion-fab mini (click)="showCurrLocation()">
      <ion-icon name="locate"></ion-icon>
    </button>
  </div>

  <div #map id="map"></div>

  <ion-item>
    <ion-label>Filter</ion-label>
    <ion-select [(ngModel)]="filter" multiple="false" #C (ionChange)="filterMarker(C.value)" cancelText="Cancel"
                okText="Filter!">
      <ion-option *ngFor="let item of typeList" value="{{item}}">{{item}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select A Location</ion-label>
    <ion-select #newSelect [(ngModel)]="location" (ionChange)="addMarker(location)">
      <ion-option *ngFor="let item of locationsList" value="{{item.value}}">{{item.text}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select A Starting Location</ion-label>
    <ion-select #newSelect [(ngModel)]="startLoc" (ionChange)="setStartValue(startLoc)">
      <ion-option *ngFor="let item of locationsList" value="{{item.value}}">{{item.text}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select A Destination</ion-label>
    <ion-select #newSelect [(ngModel)]="endLoc" (ionChange)="setDestValue(endLoc)">
      <ion-option *ngFor="let item of locationsList" value="{{item.value}}">{{item.text}}</ion-option>
    </ion-select>
  </ion-item>

</ion-content>